*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header { 
background-color: #55062c;
width: 100%;
z-index: 999;
justify-content: space-between;
align-items: center;
padding: 20px 100px;
display: flex;
position: fixed;
height: 120px;
}
#GWNTgroen {
width: 350px;
}